<header>
  <h1><%= title %></h1>
  <div class="header-btn-section">
    <% if (title != 'New message') { %>
      <a href="/new"><button class="header-btn">New message</button></a>
    <% } %>
    <a href="/"><button class="header-btn">Home</button></a>  
  </div>
</header>